<div layout="column" class="dohw">
    <div flex>
        <p class="left">[진행중인 과제목록]</p>
    </div>

    <div flex>
        <div layout="row">
            <div flex="5"></div>
            <div flex="25">
                과제명
            </div>
            <div flex="25">
                반명
            </div>
            <div flex="20">
                제출기한
            </div>
            <div flex="20">
                상태
            </div>
            <div flex="5"></div>
        </div>
        <span ng-if="hwList.length === 0">과제가 없습니다.</span>
        <span ng-repeat="hw in hwList | filter:hwList.length!==0">
            <div layout="row" ng-if="hw.date > today && hw.userHomeworkRelation.isSubmitted ==0">
                <div flex="5"></div>
                <div flex="25">
                    <span>{{hw.name}}</span>
                </div>
                <div flex="25">
                    <span>{{hw.group.name}}</span>
                </div>
                <div flex="20">
                    <span>{{hw.date}}</span>
                </div>
                <div flex="20">
                    <md-button ng-click="doHw($event, hw)"> 미제출</md-button>
                </div>
                <div flex="5"></div>
            </div>
        </span>
    </div>

    <md-divider></md-divider>
    <div flex>
        <p class="left">[제출완료 과제목록]</p>
    </div>
    <div flex>
        <div layout="row">
            <div flex="5"></div>
            <div flex="25">
                과제명
            </div>
            <div flex="25">
                반명
            </div>
            <div flex="20">
                제출기한
            </div>
            <div flex="20">
                상태
            </div>
            <div flex="5"></div>
        </div>
        <span ng-if="hwList.length === 0">과제가 없습니다.</span>
        <span ng-repeat="hw in hwList | filter:hwList.length!==0">
            <div layout="row" ng-if="hw.userHomeworkRelation.isSubmitted ==1">
                <div flex="5"></div>
                <div flex="25">
                    <span>{{hw.name}}</span>
                </div>
                <div flex="25">
                    <span>{{hw.group.name}}</span>
                </div>
                <div flex="20">
                    <span>{{hw.date}}</span>
                </div>
                <div flex="20">
                    <md-button ng-click="doHw($event, hw)"> 제출완료 </md-button>
                </div>
                <div flex="5"></div>
            </div>
        </span>
    </div>

    <md-divider></md-divider>
    <div flex>
        <p class="left">[지난 미제출 과제목록]</p>
    </div>
    <div flex>
        <div layout="row">
            <div flex="5"></div>
            <div flex="25">
                과제명
            </div>
            <div flex="25">
                반명
            </div>
            <div flex="20">
                제출기한
            </div>
            <div flex="20">
                상태
            </div>
            <div flex="5"></div>
        </div>
        <span ng-if="hwList.length === 0">과제가 없습니다.</span>
        <span ng-repeat="hw in hwList | filter:hwList.length!==0">
            <div layout="row" ng-if="hw.date < today">
                <div flex="5"></div>
                <div flex="25">
                    <span>{{hw.name}}</span>
                </div>
                <div flex="25">
                    <span>{{hw.group.name}}</span>
                </div>
                <div flex="20">
                    <span>{{hw.date}}</span>
                </div>
                <div flex="20">
                    <span ng-if="hw.userHomeworkRelation.isSubmitted == 0"> 미제출 </span>
                    <span ng-if="hw.userHomeworkRelation.isSubmitted == 1"> 제출완료 </span>
                </div>
                <div flex="5"></div>
            </div>
        </span>
    </div>
</div>