<md-dialog flex="50">
    <form name="signUpForm" ng-submit="signup()">
        <md-content class="autoScroll">
            <md-input-container class="md-block">
                <!-- Use floating placeholder instead of label -->
                <input ng-model="user.email" type="email" placeholder="이메일 (필수)" ng-required="true">
            </md-input-container>
            <md-input-container class="md-block">
                <!-- Use floating placeholder instead of label -->
                <input ng-model="user.password" type="password" name="password" placeholder="비밀번호 (필수)"
                       ng-required="true">

                <div ng-messages="signUpForm.password.$error">
                    <div ng-message="required">필수 입력 사항입니다.</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <!-- Use floating placeholder instead of label -->
                <input ng-model="user.passwordCheck" type="password" name="passwordCheck"
                       placeholder="비밀번호 재입력 (필수)" ng-required="true">

                <div ng-messages="signUpForm.passwordCheck.$error">
                    <div ng-message="required">필수 입력 사항입니다.</div>
                    <div ng-show="user.passwordCheck.length>0 && user.password !== user.passwordCheck">Password와 일치하지 않습니다.</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <!-- Use floating placeholder instead of label -->
                <input ng-model="user.name" type="text" name="name"
                       placeholder="이름 (필수)" ng-required="true">

                <div ng-messages="signUpForm.name.$error">
                    <div ng-message="required">필수 입력 사항입니다.</div>
                </div>
            </md-input-container>
            <!--<md-input-container class="md-block">-->
                <!--<md-select ng-model="user.groupId" placeholder="Group" ng-required="true">-->
                    <!--<md-option ng-repeat="group in groupList" value="{{group.id}}">-->
                        <!--<span>{{group.name}}</span>-->
                    <!--</md-option>-->
                <!--</md-select>-->
                <!--<div ng-messages="signUpForm.group.$error">-->
                    <!--<div ng-message="required">This is required.</div>-->
                <!--</div>-->
            <!--</md-input-container>-->
            <md-input-container>
                <md-select ng-model="selectedCourse" name="course" placeholder="과정 선택 (필수)" ng-required="true">
                    <md-option ng-repeat="(key, value) in dummyObj" ng-value="value">
                        {{value.name}}
                    </md-option>
                </md-select>
                <div ng-messages="signUpForm.group.$error">
                    <div ng-message="required">필수 입력 사항입니다.</div>
                </div>
            </md-input-container>
            <md-input-container>
                <md-select ng-model="targetGroup" name="group" placeholder="반 선택 (필수)" ng-required="true">
                    <md-option ng-repeat="group in selectedCourse.groups" value="{{group.id}}">
                        {{group.name}}
                    </md-option>
                </md-select>
                <div ng-messages="signUpForm.group.$error">
                    <div ng-message="required">필수 입력 사항입니다.</div>
                </div>
            </md-input-container>
            <br>
            <md-button type="submit" class="md-raised md-block">제출</md-button>
            <md-button ng-click="cancel()" class="md-raised md-block">닫기</md-button>
        </md-content>
    </form>
</md-dialog>