<md-dialog flex="30">
    <form name="editGroupForm" ng-submit="editGroup()">
        <md-content class="autoScroll">
            <md-input-container class="md-block">
                <input ng-model="currentGroup.name" type="text" placeholder="반명" ng-required="true">
                <div ng-messages="editGroupFrom.name.$error">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>
            <md-button type="submit" class="md-raised md-block">Submit</md-button>
            <md-button ng-click="cancel()" class="md-raised md-block">Close</md-button>
        </md-content>
    </form>
</md-dialog>